// Font Stacks
$font-family--primary    : sans-serif;



// Descriptive Base Colors
$white       : #fff;
$grey        : #323544;
$darkgrey    : #212330;




//Color application
$color-bg : $grey;
$color-bg-dark: $darkgrey;

$color-fb : #3b5998;
$color-li : #0077b5;
$color-x : #00aced;
$color-insta : #d93175;



// Define breakpoints
$breakpoint-s : 768px;
$breakpoint-m : 992px;
$breakpoint-l : 1260px;