//main footer style
footer {
    background-color: $color-footer;
    color: $color-white;
    padding: 30px 0 0;
    position: relative;


    #footer-logo {
        max-height: 64px;
        max-width: 320px;
        margin-bottom: 16px;
    }


     // flex box list items
    .footer-row, .socials {
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
        
        ul, li, a, p {
            color: $color-white;
            font-size: 0.9rem;         
            text-decoration: none;
            list-style: none;
            padding: 0em;
            line-height: 1.75;
        }

        a:hover{
            text-decoration: underline;
        }
        //----------------- update with mixins?
        .footer-menu{
            flex: 100%;
            margin-bottom: 15px;

            @media (min-width: 768px) {
                flex: 50%;
            }

            @media (min-width: 992px) {
                flex: 25%;
            }

            @media (min-width: 1260px) {
                margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 26px;
            }
        }
    }
}

.footer-bottom {
    font-size: 0.8rem;
    color: $color-white;
    background-color: $color-footer-bottom;
    padding: 10px;

}



//--  --  --                                  --form
form {
    display:block;
    max-width: auto;
    margin-bottom: 100px;
    padding: 10px 20px;
}

input,
textarea,{
    border: 0;
    border-bottom: 10px;
    border-color: $color-white;
    font-size: 16px;
    height: auto;
    margin: 0;
    padding: 15px;
    width: 100%;
    background-color: $color-form;
    color: $color-white;
    margin-bottom: 30px;
}

//--  --  --                                  --checkbox
#wb {
  width: 15px;
  height: 15px;
  margin:3px;
  float: left;
}
#somelabel {
  float: left;
  padding-left: 3px;
}

#check-flex {
    display: flex;
}